<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Campus Recruit</title>

	<!-- Global stylesheets -->
	<link href="assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<link href="html/layout_6/full/assets/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="assets/demo/demo_configurator.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="assets/js/vendor/visualization/echarts/echarts.min.js"></script>
	<script src="assets/js/vendor/maps/echarts/world.js"></script>

	<script src="html/layout_6/full/assets/js/app.js"></script>
	<script src="assets/demo/charts/pages/dashboard_6/area_gradient.js"></script>
	<script src="assets/demo/charts/pages/dashboard_6/map_europe_effect.js"></script>
	<script src="assets/demo/charts/pages/dashboard_6/progress_sortable.js"></script>
	<script src="assets/demo/charts/pages/dashboard_6/bars_grouped.js"></script>
	<script src="assets/demo/charts/pages/dashboard_6/line_label_marks.js"></script>
	<!-- /theme JS files -->


    <link href="assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="assets/demo/demo_configurator.js"></script>
	<script src="assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="assets/js/jquery/jquery.min.js"></script>
	<script src="assets/js/vendor/tables/datatables/datatables.min.js"></script>

	<script src="html/layout_1/full/assets/js/app.js"></script>
	<script src="assets/demo/pages/datatables_basic.js"></script>

	<link href="assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
	<script src="assets/demo/pages/components_modals.js"></script>
	<!-- /global stylesheets -->



</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-xl navbar-static shadow">
		<div class="container-fluid">
			<div class="navbar-brand flex-1">
				<!-- <a href="index.html" class="d-inline-flex align-items-center">
					<img src="assets/images/logo_icon.svg" alt="">
					<img src="assets/images/logo_text_dark.svg" class="d-none d-sm-inline-block h-16px invert-dark ms-3" alt="">
				</a> -->
				<a href="/studentDashboard" class="d-inline-flex align-items-center">
					<h1 class="page-title mb-0">Campus Recruit</h1>
				</a>
			</div>

			<div class="d-flex w-100 w-xl-auto overflow-auto overflow-xl-visible scrollbar-hidden border-top border-top-xl-0 order-1 order-xl-0 pt-2 pt-xl-0 mt-2 mt-xl-0">
				<ul class="nav gap-1 justify-content-center flex-nowrap flex-xl-wrap mx-auto">
					<li class="nav-item">
						<a href="/adminDashboard" class="navbar-nav-link rounded">
							<i class="ph-house me-2"></i>
							Home
						</a>
					</li>

					<li class="nav-item nav-item-dropdown">
						<a href="/adminJobPosting" class="navbar-nav-link rounded " >
							<i class="ph-rows me-2"></i>
							Job Posting
						</a>
					</li>
				</ul>
			</div>

			<ul class="nav gap-1 flex-xl-1 justify-content-end order-0 order-xl-1">


				<li class="nav-item nav-item-dropdown-xl dropdown">
					<a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
						<div class="status-indicator-container">
							<img src="assets/images/demo/userdemo.webp" class="w-32px h-32px rounded-pill" alt="">
							<span class="status-indicator bg-success"></span>
						</div>
						<span class="d-none d-md-inline-block mx-md-2"></span>
					</a>

					<div class="dropdown-menu dropdown-menu-end">
						<div class="dropdown-divider"></div>
						<a href="/adminLogout" class="dropdown-item">
							<i class="ph-sign-out me-2"></i>
							Logout
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Inner content -->
			<div class="content-inner">

				<!-- Page header -->
				<div class="page-header">
					<div class="page-header-content container d-lg-flex">
						<div class="d-flex">
							<h4 class="page-title mb-0">
								Admin - <span class="fw-normal">Job Responses</span>
							</h4>
						</div>

						
					</div>
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content container pt-0">
                    <div class="card">
						<div class="card-header">
							<h5 class="mb-0">Company Name*</h5>
						</div>

						<table class="table datatable-basic">
					
							<thead>
								<tr>
									<th>Student Name</th>
									<th>Year</th>
									<th>Branch</th>
									<th>Date</th>
									<th>Phone Number</th>
									<th>Email</th>
									<th>CGPA</th>
									
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Ujjwal Raturi</td>
									<td>4th</td>
									<td>CSE</td>
									<td>22 Jun 2023</td>
									<td>8533859704</td>
									<td>ujjwalraturi248001@gmail.com</td>
									<td>7</td>
								</tr>
							</tbody>
							
						</table>
                        <button type="button" class="btn btn-danger flex-column py-1 mx-1">
                            <i class="ph-download-simple ph-2x mb-1"></i>
                        </button>
					</div>
					
				</div>
				<!-- /content area -->


				<!-- Footer -->
				<div class="navbar navbar-sm navbar-footer border-top">
					<div class="container-fluid justify-content-center">
						<span>Campus Recruit &copy; 2023</span>

					</div>
				</div>
				<!-- /footer -->

			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
	<div id="modal_default" class="modal fade" tabindex="-1">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">New Job Posting</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<form action="/postJob" method="POST">
					<div class="modal-body">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-4">
									<label>Job Title<span class="text-danger">*</span></label>
									<input type="text" placeholder="jobTitle" class="form-control jobTitle" required name="jobTitle" id="jobTitle">
								</div>
								<div class="col-sm-4">
									<label>Job Type<span class="text-danger">*</span></label>
									<select name="jobType" id="jobType" class="form-control jobType">
										<option value="Full Time">Full Time</option>
										<option value="Remote">Remote</option>
										<option value="Internship">Internship</option>
									</select>
								</div>
								<div class="col-sm-4">
									<label>Job Location<span class="text-danger">*</span></label>
									<input type="text" placeholder="jobLocation" class="form-control jobLocation" required name="jobLocation" id="jobLocation">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label>Workplace Type<span class="text-danger">*</span></label>
									<input type="text" placeholder="workplaceType" class="form-control workplaceType" required name="workplaceType" id="workplaceType">
								</div>
								<div class="col-sm-4">
									<label>Company<span class="text-danger">*</span></label>
									<select name="company" id="company" class="form-control company">
										<option value="tcs">TCS</option>
										<option value="infosys">Infosys</option>
										<option value="wipro">Wipro</option>
										<option value="google">Google</option>
										<option value="amazon">Amazon</option>
										<option value="microsoft">Microsoft</option>
										<option value="adobe">Adobe</option>
									</select>
								</div>
								<div class="col-sm-4">
									<label>Description<span class="text-danger">*</span></label>
									<input type="text" placeholder="description" class="form-control description"  name="description" id="description">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label>Required CGPA<span class="text-danger">*</span></label>
									<input type="text" placeholder="requiredCgpa" class="form-control requiredCgpa"  name="requiredCgpa" id="requiredCgpa">
								</div>
								<div class="col-sm-4">
									<label>Required Skill<span class="text-danger">*</span></label>
									<select name="requiredSkill" id="requiredSkill" class="form-control requiredSkill">
										<option value="dsa">dsa</option>
										<option value="react">react</option>
										<option value="node">node</option>
										<option value="java">java</option>
										<option value="python">python</option>
										<option value="ML">ML</option>
									</select>
								</div>
								<div class="col-sm-4">
									<label>Last Date<span class="text-danger">*</span></label>
									<input type="date" placeholder="lastDate" class="form-control lastDate" name="lastDate" id="lastDate">
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label>Batch<span class="text-danger">*</span></label>
									<input type="text" placeholder="batch" class="form-control batch" name="batch" id="batch">
								</div>
								<div class="col-sm-4">
									<label>Qualification<span class="text-danger">*</span></label>
									<select name="qualification" id="qualification" class="form-control qualification">
										<option value="btech">btech</option>
										<option value="mtech">mtech</option>
										<option value="mca">mca</option>
									</select>
								</div>
								<div class="col-sm-4">
									<label>Year<span class="text-danger">*</span></label>
									<select name="year" id="year" class="form-control year">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
									</select>
								</div>
							<div class="row">
								<div class="col-sm-4">
									<label>Role<span class="text-danger">*</span></label>
									<select name="role" id="role" class="form-control role">
										<option value="SDE">SDE</option>
										<option value="frontend developer">frontend developer</option>
										<option value="backend developer">backend developer</option>
										<option value="tester">tester</option>
									</select>
								</div>
								<div class="col-sm-4">
									<label>Salary<span class="text-danger">*</span></label>
									<input type="number" placeholder="salary" class="form-control salary" name="salary" id="salary">
								</div>
								<div class="col-sm-4">
									<label>Company Website<span class="text-danger">*</span></label>
									<input type="text" placeholder="companyWebsite" class="form-control companyWebsite" name="companyWebsite" id="companyWebsite">
								</div>
							</div>
						</div>
						
					</div>

					<div class="modal-footer">
						<button type="submit" class="btn  bg-teal-400">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- Demo config -->
	<div class="offcanvas offcanvas-end" tabindex="-1" id="demo_config">
		<div class="position-absolute top-50 end-100 visible">
			<button type="button" class="btn btn-primary btn-icon translate-middle-y rounded-end-0" data-bs-toggle="offcanvas" data-bs-target="#demo_config">
				<i class="ph-gear"></i>
			</button>
		</div>

		<div class="offcanvas-header border-bottom py-0">
			<h5 class="offcanvas-title py-3">Theme configuration</h5>
			<button type="button" class="btn btn-light btn-sm btn-icon border-transparent rounded-pill" data-bs-dismiss="offcanvas">
				<i class="ph-x"></i>
			</button>
		</div>

		<div class="offcanvas-body">
			<div class="fw-semibold mb-2">Color mode</div>
			<div class="list-group mb-3">
				<label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-2">
					<div class="d-flex flex-fill my-1">
						<div class="form-check-label d-flex me-2">
							<i class="ph-sun ph-lg me-3"></i>
							<div>
								<span class="fw-bold">Light theme</span>
								<div class="fs-sm text-muted">Set light theme or reset to default</div>
							</div>
						</div>
						<input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="light" checked>
					</div>
				</label>

				<label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-2">
					<div class="d-flex flex-fill my-1">
						<div class="form-check-label d-flex me-2">
							<i class="ph-moon ph-lg me-3"></i>
							<div>
								<span class="fw-bold">Dark theme</span>
								<div class="fs-sm text-muted">Switch to dark theme</div>
							</div>
						</div>
						<input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="dark">
					</div>
				</label>

				<label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-0">
					<div class="d-flex flex-fill my-1">
						<div class="form-check-label d-flex me-2">
							<i class="ph-translate ph-lg me-3"></i>
							<div>
								<span class="fw-bold">Auto theme</span>
								<div class="fs-sm text-muted">Set theme based on system mode</div>
							</div>
						</div>
						<input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="auto">
					</div>
				</label>
			</div>

			
		</div>

		
	</div>
	<!-- /demo config -->

</body>
</html>