<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Recruit</title>
    <link rel="stylesheet" href="studentRegister.css">
    <script>
      var sub, user, pass, mainContent, loggedIn;
      var loggedIn = document.querySelector('.logged-in')
      
      function _(x) {
        return document.getElementById(x);
      }
      
      sub = _('submit');
      user = _('user-name');
      pass = _('user-pass');
      mainContent = _('main');
      loggedIn = _('logged-in');
      
      sub.addEventListener('click', login);
      
      function login(event) {
        event.preventDefault();
        var userValue = user.value;
        var passValue = pass.value;
        
        if (userValue.length >= 3 && passValue.length >= 3) {_
            mainContent.classList.add('login-true');
            loggedIn.style.display = 'block';
            loggedIn.innerHTML = '<h2>Welcome, ' + userValue + '</h2>';
         } else {
           alert('Username and Password must contain at least 3 characters.')
         }
      }
    </script>
</head>
<body>
  <div id="main" class="main-container">
    <div class="box">
      <h2>Student Register</h2>
      <form>
        <div class="row">
            <div class="input-box fn">
                <input id="firstName" class="firstName" type="text" name="" required="">
                <label>First Name</label>
            </div>
            <div class="input-box ln">
                <input id="lastName" class="lastName" type="text" name="" required="">
                <label>Last Name</label>
            </div>
        </div>

        <div class="row">            
            <div class="input-box si">
                <input id="studentId" class="studentId" type="number" name="" required="">
                <label>Student Id</label>
            </div>
            <div class="input-box ei">
                <input id="emailId" class="emailId" type="email" name="" required="">
                <label>Email Id</label>
            </div>
            <div class="input-box cn">
                <input id="contactNumber" class="contactNumber" type="number" name="" required="">
                <label>Contact Number</label>
            </div>
        </div>

        <div class="row">
            <div class="input-box co">
                <input id="course" class="course" type="text" name="" required="">
                <label>Course</label>
            </div>
            <div class="input-box br">
                <input id="branch" class="branch" type="text" name="" required="">
                <!-- <select id="branch" class="branch" type="text" name="" required>
                  <option value="CE">CE</option>
                  <option value="CSE">CSE</option>
                  <option value="ME">ME</option>
                  <option value="EE">EE</option>
                  <option value="ECE">ECE</option>
                  <option value="BT">BT</option>
                </select> -->
                <label>Branch</label>
            </div>
            <div class="input-box yr">
                <input id="currentYear" class="currentYear" type="number" name="" required="">
                <label>Current Year</label>
            </div>
            <div class="input-box sem">
                <input id="currentSem" class="currentSem" type="number" name="" required="">
                <label>Current Semester</label>
            </div>
        </div>

        <div class="submitBox">
            <input id="submit" class="submit" type="submit" name="" value="Submit">
        </div>
    </form>
    
      <div class="bottom">
        <a href="/studentLogin">Login</a>
      </div>
    </div>
    </div>
    
    <div id="logged-in">
    </div>  
</body>
</html>